{% extends "App/base.html" %}
{% block content %}
{% if post_list %}
<div class="centerstage">
    {% for post in post_list %}
    <div class="post">
        <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
        <div class="date"><p>Published On: {{post.publication_date|date:"Y D M"}}</p></div>
        <a href="{% url 'post_detail' pk=post.pk %}">Tek Talks: {{post.approve_comments.count}}</a>
    </div>
    {% endfor %}
</div>
{% else %}
<div class="centerstage">
	<h2 style="font-weight: 900;">Looks, Like There Are No Tek Posts Right Now Please Check Again Later!</h2>
	<hr><br>

	<h3>Until You Can Check Some Other Websites!</h3><br>

	<h3><span style="font-weight: 900;">Sorry</span> For inconvienece</h3>
</div>
{% endif %}
{% endblock %}